<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="/css/navbar.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/new_project.css" rel="stylesheet">
        <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
        <title>MindSet :: {{ project.getName }}: Re-order steps</title>
    </head>
    <body>

        {% set active_page = '/coach/active_project' %}
        {% include 'partials/nav.html' %}

        <div class = "container" id = "mainContainer">
            <div class = "row row-centered" id = "mainRow">

                <div class = "col-xl-8 col-lg-8 col-md-11 col-sm-12 col-sm-offset-1 col-centered mainBody" id="habits">

                    <h1>Re-order steps</h1>
                    <p>
                        Perhaps the order of the steps is stopping you from making progress.
                    </p>

                    <p>Try re-ordering them and see if it looks more manageable.</p>

                    <!-- List with handle -->
                    {# populate list with steps from current project #}
                        {% if steps is not empty %}
                            <div id="step_list" class="list-group">
                                {% for step in steps %}
                                    <div class="list-group-item" data-id="{{ step.getId }}">
                                        <span class="drag-handle">&#9776;</span>
                                      {{ loop.index }}. {{ step.getDescription }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span>No steps whadda hell??</span>
                        {% endif %}
                    {# end populate list #}

                    <!-- <p><a id="update_link" href="#" role="button" class="btn btn-primary">Update</a></p> -->
                    <p><a id="update_link" class="btn btn-primary" role="button" href="#">Looks good.</a>
                    <a class="btn btn-default" role="button" href="/coach/active_project/{{ project.getId }}/add_step">Meh. I still don't feel confident...</a></p>

                </div>
            </div>
        </div>

        <script>
            var update_link = document.getElementById('update_link');

            // Create steps list
            var sort = Sortable.create(step_list, {
                animation: 150,
                dataIdAttr: 'data-id'
            });

            // Define step ids using Twig so we can update them
            var step_ids = [
                {% for step in steps %}
                    {{ step.getId }}

                    {# only add a comma to steps b4 last one #}
                    {% if loop.index != steps|length %}
                        ,
                    {% endif %}
                {% endfor %}
            ];

            update_link.onclick = function()
            {
                var get_url = "/coach/active_project/{{ project.getId }}/next_step?";
                var new_positions = sort.toArray();

                // Pass new step positions in URL in format step_id=new_postition
                for (i = 0; i < step_ids.length; i++)
                {
                    get_url += new_positions[i] += "=" + (i+1) + "&";
                }

                window.location.href = get_url;
            }

        </script>
    </body>
</html>
